/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.4; }

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%; }

/*--END RESET----------------------*/
@font-face {
  font-family: 'Victor Mono';
  src: url("fonts/VictorMono-Oblique.woff"); }
@font-face {
  font-family: 'Victor Mono Italic';
  src: url("fonts/VictorMono-SemiBoldItalic.woff"); }
html {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 16px;
  color: #1A1D1F; }

h1 {
  font-size: 3.5rem; }

h2 {
  font-size: 2rem;
  font-weight: 700;
  padding: 0 0 .5rem 0; }

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: .08rem; }

h4 {
  font-size: 1.75rem;
  padding: 1rem 0 0 0; }

p {
  font-size: 1.2rem;
  line-height: 1.6;
  padding: .5rem 0 1rem; }

a {
  border-bottom: 1px solid #D8E3EB;
  color: #96A8B3;
  text-decoration: none; }

a:hover {
  border-color: #0F63DA;
  color: #0F63DA; }

li {
  font-size: 1rem;
  padding: .4rem 0; }

img {
  max-width: 100%; }

.svg-hover img:last-child {
  display: none; }

.svg-hover:hover img:last-child {
  display: inline-block; }

.svg-hover:hover img:first-child {
  display: none; }

/*--HEADER--------------------*/
header {
  background-color: #fff;
  margin: 0 auto;
  padding: 0;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10; }
  header a {
    color: #1A1D1F;
    text-decoration: none; }

nav {
  align-items: center;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr; }

.header-logo {
  border-right: 1px solid #D8E3EB;
  font-size: 1.5rem;
  font-weight: bold;
  padding: .5rem 0 .5rem 1.5rem; }
  .header-logo a {
    border: none;
    font-family: 'Victor Mono Italic', sans-serif; }

.header-nav {
  display: grid;
  grid-column-gap: 1.5rem;
  grid-auto-flow: column;
  justify-content: start;
  padding: .5rem 0 .5rem 1.5rem; }

.header-nav-link {
  border: none;
  font-family: 'Victor Mono', sans-serif;
  font-size: 1rem;
  display: inline-block;
  padding: .4rem 0; }

.burger-icon {
  display: none; }

.active {
  border-bottom: 3px solid #D8E3EB; }

/*--CONTENT-------------*/
.wrapper, nav {
  margin: 0 auto;
  max-width: 1440px; }

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.portfolio-heading {
  color: #1A1D1F;
  font-weight: bold;
  font-size: 40px;
  margin: 3rem 1.5rem 1.5rem; }

.portfolio_item {
  align-items: center;
  display: grid;
  height: 400px;
  justify-content: center;
  text-align: center; }
  .portfolio_item a {
    border: none; }
  .portfolio_item img {
    margin: 0 auto 1rem;
    width: auto;
    transition: width .25s ease-in-out;
    -moz-transition: width .25s ease-in-out;
    -webkit-transition: width .25s ease-in-out; }
    .portfolio_item img:hover {
      width: 120%; }
  .portfolio_item h3 {
    color: #fff;
    text-decoration: none; }
  .portfolio_item.designlab {
    background-color: #1F2453; }
  .portfolio_item.nationbuilder {
    background-color: #1498BE; }
  .portfolio_item.stitchgood {
    background-color: #2E5EAA; }
  .portfolio_item.theknit {
    background-color: #CC33FF; }
  .portfolio_item.weatherwhiskers {
    background-color: #2CB7C0; }
  .portfolio_item.almostcooked {
    background-color: #E43E3B; }
  .portfolio_item.web {
    background-color: #0F63DA; }
  .portfolio_item.tedx {
    background-color: #E43E3B; }
  .portfolio_item.teknikio {
    background-color: #3D53B8; }
  .portfolio_item.cyberknitics {
    background-color: #000000; }
  .portfolio_item.lovelace {
    background-color: #A3B0AE; }
  .portfolio_item.woven {
    background-color: #000000; }
  .portfolio_item.wearables {
    background-color: #2CB7C0; }

/*--END PORTFOLIO-----*/
.flex-wrap {
  width: 100%;
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  font-size: 0; }

.page-head {
  padding: 2rem 1.5rem 1.5rem;
  width: 100%; }

.page-heading.designlab {
  color: #1F2453; }
.page-heading.nationbuilder {
  color: #1498BE; }
.page-heading.stitchgood {
  color: #2E5EAA; }
.page-heading.theknit {
  color: #CC33FF; }
.page-heading.weatherwhiskers {
  color: #2CB7C0; }
.page-heading.almostcooked {
  color: #E43E3B; }
.page-heading.web {
  color: #0F63DA; }
.page-heading.tedx {
  color: #E43E3B; }
.page-heading.teknikio {
  color: #3D53B8; }
.page-heading.cyberknitics {
  color: #000000; }
.page-heading.lovelace {
  color: #A3B0AE; }
.page-heading.woven {
  color: #000000; }
.page-heading.wearables {
  color: #2CB7C0; }

.tag-line, .breadcrumb {
  padding: 0 .2rem 1rem; }

.bio-pic {
  display: block;
  margin: 2rem auto;
  width: 50%;
  -webkit-box-shadow: 6px 6px 0px 0px #d8e3eb;
  -moz-box-shadow: 6px 6px 0px 0px #d8e3eb;
  box-shadow: 6px 6px 0px 0px #d8e3eb; }

.info-text {
  padding: 0 1.5rem 1.5rem 1.5rem; }
  .info-text.border-bottom {
    border-bottom: 1px solid #D8E3EB; }

.proj-item {
  width: 100%; }

.info-text h2 {
  margin-top: 1.5rem; }

.medium {
  width: 50%; }

.small {
  width: 25%; }

.text-block {
  padding: 1.5rem 1.5rem 1rem 1.5rem;
  width: 70%;
  max-width: 46rem;
  margin: 0 auto; }

.text-block p {
  font-size: 1.2rem;
  line-height: 1.5;
  padding: .5rem 0 1rem 0; }

.img-block {
  padding-bottom: 2.5rem; }

.proj-link {
  margin: 0 0 0 0; }

.proj-item img {
  vertical-align: top; }

.proj-video {
  margin: 0 auto; }

iframe {
  padding: 1rem 0 0 0;
  width: 100%; }

/*--PAGINATION----------------------*/
.pagination {
  width: 100%;
  font-size: 0;
  margin: 2rem 0; }

.pag-link {
  border: none;
  display: inline-block;
  font-family: 'Victor Mono', sans-serif;
  padding: 0 1.5rem .5rem 1.5rem;
  font-size: 1.25rem;
  text-decoration: none; }

.arrow {
  font-size: 2rem;
  line-height: 1; }

.prev {
  width: 50%;
  border-right: 1px solid #D8E3EB; }

/*--FOOTER----------------------*/
footer {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.footer-social {
  align-self: start;
  align-items: end;
  border-right: 1px solid #D8E3EB;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 1rem;
  justify-content: start;
  padding: 1.5rem 1.5rem 2rem 1.6rem; }

.social {
  border: none; }

.social img {
  width: 1.5rem; }

.footer-email {
  display: inline-block;
  padding: 1.5rem 0 2rem 1.5rem; }

/*--MEDIA QUERIES--------------*/
@media screen and (max-width: 900px) {
  iframe {
    width: 100%; } }
@media screen and (max-width: 800px) {
  .portfolio_item {
    width: 100%; }

  .text-block {
    width: 100%; } }
@media screen and (max-width: 600px) {
  h1 {
    font-size: 2.5rem; }

  footer {
    grid-template-columns: 1fr; }

  .footer-social {
    border-right: none;
    border-bottom: 1px solid #D8E3EB;
    grid-column-gap: 2rem;
    padding: 1.5rem 1.5rem 1.5rem 1.6rem; }

  .social img {
    width: 2.5rem; }

  .grid-container {
    display: block; }

  .medium {
    width: 100%; }

  .small {
    width: 50%; }

  iframe {
    width: 100%; }

  .pag-link {
    font-size: 1rem; }

  .arrow {
    font-size: 1.5rem; }

  .prev {
    width: auto;
    border: none;
    padding: 0 0 .5rem 1.5rem; }

  .next {
    float: right;
    padding: 0 1.5rem .5rem 0; } }
@media screen and (max-width: 512px) {
  .header-logo {
    border-right: none;
    font-size: 1.25rem; }

  .header-nav {
    padding-left: 0; }

  .header-nav a {
    color: #96A8B3; }

  .header-nav a:hover {
    color: #0F63DA; }

  .page-head {
    width: 100%;
    border-top: 1px solid #D8E3EB; }

  .footer-social {
    justify-content: space-between; }

  .portfolio_item:hover img {
    opacity: .6; } }

/*# sourceMappingURL=style.css.map */
