/* Resets file to fix inconsistencies in browsers */
/* based on normalize.css | github.com/necolas/normalize.css */
html {
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
}

button, input {
  overflow: visible;
}

button, [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  display: table;
  max-width: 100%;
  white-space: normal;
  color: inherit;
  padding: 0;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

[hidden] {
  display: none;
}

/* Breakpoints */
/* Layout */
/* Colors */
/* colors to remove */
/* Fonts */
/* Font Weights */
/* media query mixins */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
html {
  color: #000000;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5 {
  max-width: 60rem;
  padding: 0;
}

p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin: 0 auto 1rem;
  max-width: 60rem;
  padding: 0;
}

a {
  border-bottom: 1px solid #038187;
  color: #038187;
  text-decoration: none;
}
a:hover {
  border-color: #175759;
  color: #175759;
}

ul, ol {
  font-size: 1.2rem;
  line-height: 1.6;
  margin: 1rem auto 2rem;
  max-width: 60rem;
  padding: 0;
}

li {
  margin: 0.5rem 0 0.5rem 2rem;
  padding: 0;
}

img {
  max-width: 100%;
}

iframe {
  padding: 1rem 0 0 0;
  width: 100%;
}

.heading-xl {
  font-family: "Quincy", sans-serif;
  font-size: 6rem;
  line-height: 1.2;
  margin: 0 auto 2rem;
}
@media only screen and (max-width: 919px) {
  .heading-xl {
    font-size: 3rem;
  }
}

.heading-lg {
  font-family: "Quincy", sans-serif;
  font-size: 4.5rem;
  line-height: 1.2;
  margin: 2rem auto;
}
@media only screen and (max-width: 919px) {
  .heading-lg {
    font-size: 2.25rem;
  }
}

.heading-md {
  font-family: "Quincy", sans-serif;
  font-size: 2.5rem;
  line-height: 1.2;
  margin: 2rem auto 1rem;
}
@media only screen and (max-width: 919px) {
  .heading-md {
    font-size: 1.75rem;
  }
}

.heading-sm {
  font-size: 2rem;
  line-height: 1.2;
  margin: 2rem auto 1rem;
}
@media only screen and (min-width: 920px) {
  .heading-sm {
    font-family: "Quincy", sans-serif;
  }
}
@media only screen and (max-width: 919px) {
  .heading-sm {
    font-size: 1.25rem;
    font-weight: 700;
  }
}

.heading-xs {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 1.5rem auto 0.5rem;
}
@media only screen and (max-width: 919px) {
  .heading-xs {
    font-size: 1.25rem;
  }
}

/* show/hide */
@media only screen and (max-width: 599px) {
  .u-hide-xxs {
    display: none !important;
  }
}

@media only screen and (min-width: 600px) {
  .u-hide-xs-up {
    display: none !important;
  }
}

@media only screen and (max-width: 719px) {
  .u-hide-sm-down {
    display: none !important;
  }
}

@media only screen and (min-width: 720px) {
  .u-hide-sm-up {
    display: none !important;
  }
}

@media only screen and (max-width: 919px) {
  .u-hide-md-down {
    display: none !important;
  }
}

@media only screen and (min-width: 920px) {
  .u-hide-md-up {
    display: none !important;
  }
}

@media only screen and (max-width: 1279px) {
  .u-hide-lg-down {
    display: none !important;
  }
}

@media only screen and (min-width: 1280px) {
  .u-hide-lg-up {
    display: none !important;
  }
}

@media only screen and (max-width: 1599px) {
  .u-hide-xl-down {
    display: none !important;
  }
}

@media only screen and (min-width: 1600px) {
  .u-hide-xl {
    display: none !important;
  }
}

/* spacing */
.u-pad-bottom-rm {
  padding-bottom: 0 !important;
}

.u-pad-left-rm {
  padding-left: 0 !important;
}

/* layout */
.u-grid-3 {
  display: grid;
  grid-column-gap: 2rem;
}
@media only screen and (min-width: 920px) {
  .u-grid-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.u-justify-self-end {
  justify-self: end;
}

/* images */
.u-image-lg {
  margin: 2rem auto;
  text-align: center;
}

.u-image-md {
  margin: 2rem auto;
  max-width: 60rem;
  text-align: center;
}

.u-image-sm {
  margin: 2rem auto;
  max-width: 600px;
  text-align: center;
}

.u-image-grid-2 {
  display: grid;
  grid-template-columns: 1fr;
  margin: 2rem auto;
}
@media only screen and (min-width: 920px) {
  .u-image-grid-2 {
    grid-template-columns: 1fr 1fr;
  }
}

.u-image-grid-4 {
  display: grid;
  grid-template-columns: 1fr;
  margin: 2rem auto;
}
@media only screen and (min-width: 720px) {
  .u-image-grid-4 {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 920px) {
  .u-image-grid-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* typography */
.u-nobreak {
  white-space: nowrap;
}

/* animations */
.u-animate {
  animation-fill-mode: both;
  position: absolute;
}
@media print, (prefers-reduced-motion: reduce) {
  .u-animate {
    animation-duration: 1ms !important;
    transition-duration: 1ms !important;
    animation-iteration-count: 1 !important;
  }
}

.u-animate-fade-in {
  -webkit-animation-name: fade-in;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-name: fade-in;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: ease;
  -moz-animation-delay: 0s;
  -moz-animation-iteration-count: 1;
  animation-name: fade-in;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
}

.u-animate-fade-out {
  -webkit-animation-name: fade-out;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-name: fade-out;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: ease;
  -moz-animation-delay: 0s;
  -moz-animation-iteration-count: 1;
  animation-name: fade-out;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
}

@font-face {
  font-family: "Quincy";
  src: url("fonts/QuincyCFExtraBold.woff");
}
.l-container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 1rem 2rem;
}
.l-container--narrow {
  max-width: 960px;
}

.l-main {
  margin: 0 auto;
  max-width: 1440px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.l-header {
  background-color: #fff;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto auto;
  left: 0;
  margin: 0 auto;
  max-width: 1440px;
  padding: 1rem;
  position: sticky;
  right: 0;
  top: 0;
  z-index: 10;
}

.l-header__logo {
  border: none;
  color: #000000;
  font-family: "Quincy", sans-serif;
  font-size: 1.5rem;
  padding: 0.5rem;
  text-decoration: none;
}

.l-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.social {
  border: none;
  display: block;
  padding: 0 0 0.5rem;
}
.social .social-icon {
  width: 1.5rem;
}
.social .social-label {
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  color: #000000;
  display: inline-block;
  margin: 0.25rem 0 0.25rem 0.25rem;
  vertical-align: bottom;
}
.social .social-label:hover {
  border-color: #175759;
  color: #175759;
}

.footer-email {
  border-left: 1px solid #ABDBDD;
  grid-column-start: 2;
  padding: 1.5rem 0 2rem 1.5rem;
}

.footer-attribution {
  font-size: 1rem;
  padding: 2rem 0 0;
}

@media screen and (max-width: 768px) {
  .l-footer {
    grid-template-columns: 1fr;
  }

  .footer-email {
    border-left: none;
    grid-column-start: 1;
  }

  .social {
    margin: 0.5rem 0;
    padding: 0 0 0.5rem;
  }
}
.case-study {
  align-content: center;
  border: none;
  display: grid;
  grid-column-gap: 3rem;
  margin: 2rem 0;
}
@media only screen and (min-width: 720px) {
  .case-study {
    grid-template-columns: 1fr 2fr;
    margin-bottom: 4rem;
  }
}

.case-study__image {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  align-content: center;
  background-color: #000000;
  display: grid;
  grid-template-columns: 8rem;
  justify-content: center;
  padding: 2rem;
  text-align: center;
}

.case-study__tagline {
  border-bottom: 2px solid #038187;
  display: inline-block;
}
.case-study__tagline:hover {
  border-color: #175759;
  color: #175759;
}

.case-study__text {
  padding: 1rem 0 1rem;
}
@media only screen and (min-width: 720px) {
  .case-study__text {
    padding: 0.5rem 0;
  }
}

.case-study__title {
  color: #000000;
  font-family: "Quincy", sans-serif;
  font-size: 2.5rem;
  line-height: 1.2;
  margin: 1rem auto;
}
@media only screen and (max-width: 919px) {
  .case-study__title {
    font-size: 1.75rem;
  }
}

.intro {
  background-color: #ABDBDD;
  margin: 0 0 2rem;
  padding: 3rem 2rem 1rem;
}
@media only screen and (min-width: 920px) {
  .intro {
    margin: 0 0 4rem;
    padding: 4rem 2rem 2rem;
  }
}
.intro--secondary {
  padding-top: 1rem;
  text-align: center;
}
@media only screen and (min-width: 920px) {
  .intro--secondary {
    padding-top: 3rem;
  }
}

.nav {
  justify-self: end;
  padding: 0;
  position: relative;
}

.nav__list {
  -webkit-transition: height 0.5s ease-in-out, width 0.5s ease-in-out;
  transition: height 0.5s ease-in-out, width 0.5s ease-in-out;
  display: grid;
  list-style: none;
  margin: 0;
}
@media only screen and (min-width: 720px) {
  .nav__list {
    grid-auto-flow: column;
    grid-column-gap: 1rem;
    justify-content: end;
  }
}
@media only screen and (max-width: 719px) {
  .nav__list {
    align-content: center;
    background-color: #FFFFFF;
    grid-row-gap: 0.5rem;
    height: 0;
    max-width: 90vw;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 4rem;
    width: 0;
  }
  .nav__list.is-open {
    height: 13rem;
    padding: 0.5rem 0;
    width: 20rem;
  }
}

.nav__list__item {
  margin: 0;
}

.nav__link {
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  color: #000000;
  font-size: 1rem;
  padding: 0.5rem;
  text-decoration: none;
}
@media only screen and (min-width: 720px) {
  .nav__link:hover, .nav__link--is-active {
    border-color: #038187;
    color: #038187;
  }
}
@media only screen and (max-width: 719px) {
  .nav__link {
    display: block;
    padding: 0.5rem 1rem;
  }
  .nav__link:hover {
    background-color: #CBF1F2;
    border-color: #CBF1F2;
    color: #000000;
  }
  .nav__link:active {
    background-color: #ABDBDD;
    border-color: #ABDBDD;
  }
}

.nav__button {
  background: transparent;
  border: none;
  display: none;
}
@media only screen and (max-width: 719px) {
  .nav__button {
    display: block;
  }
  .nav__button .nav__button__close {
    display: none;
  }
  .nav__button .nav__button__open {
    display: block;
  }
  .nav__button.is-active .nav__button__close {
    display: block;
  }
  .nav__button.is-active .nav__button__open {
    display: none;
  }
}

/*--PAGINATION----------------------*/
.pagination {
  font-size: 0;
  margin: 2rem 0;
  width: 100%;
}

.pag-link {
  border: none;
  display: inline-block;
  font-family: "Quincy", sans-serif;
  font-size: 1.25rem;
  padding: 0 1.5rem 0.5rem 1.5rem;
  text-decoration: none;
}
.pag-link:hover {
  border-color: #ABDBDD;
}

.prev {
  border-right: 1px solid #ABDBDD;
  width: 50%;
}

@media screen and (max-width: 1040px) {
  .intro-heading {
    font-size: 2.25rem;
  }
}
@media screen and (max-width: 900px) {
  iframe {
    width: 100%;
  }

  .bio-heading {
    font-size: 1.75rem;
  }
}
@media screen and (max-width: 768px) {
  .pag-link {
    font-size: 1rem;
  }

  .prev {
    border: none;
    padding: 0 0 0.5rem 1.5rem;
    width: auto;
  }

  .next {
    float: right;
    padding: 0 1.5rem 0.5rem 0;
  }
}
.tag {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #ABDBDD;
  color: #000000;
  display: inline-block;
  font-size: 1rem;
  padding: 0.5rem;
}

/*--CONTENT-------------*/
.portfolio-heading {
  color: #000000;
  font-size: 2.5rem;
  margin: 4rem 1.5rem 2rem;
  text-align: center;
}

.portfolio-item {
  align-items: center;
  display: grid;
  min-height: 400px;
  justify-content: center;
  text-align: center;
}
.portfolio-item h3 {
  color: #fff;
  letter-spacing: 0.05rem;
  margin: 1rem auto 0;
  text-decoration: none;
}
.portfolio-item.designlab {
  background-color: #1F2453;
}
.portfolio-item.nationbuilder {
  background-color: #1498BE;
}
.portfolio-item.web {
  background-color: #0F63DA;
}
.portfolio-item.tedx {
  background-color: #E43E3B;
}
.portfolio-item.teknikio {
  background-color: #3D53B8;
}
.portfolio-item.cyberknitics {
  background-color: #7B84FC;
}
.portfolio-item.lovelace {
  background-color: #A3B0AE;
}
.portfolio-item.woven {
  background-color: #1A1D1F;
}
.portfolio-item.wearables {
  background-color: #2CB7C0;
}
.portfolio-item.bio {
  background-color: #2E9196;
  grid-column: 1;
  grid-row: 1;
  height: auto;
}

.portfolio-item-link {
  align-items: center;
  border: none;
  display: grid;
  grid-template-rows: 180px auto;
  justify-items: center;
}

.portfolio-item-icon {
  margin: 0 auto;
  width: 160px;
  transition: width 0.25s ease-in-out;
  -moz-transition: width 0.25s ease-in-out;
  -webkit-transition: width 0.25s ease-in-out;
}
.portfolio-item-icon:hover {
  width: 180px;
}

/*--END PORTFOLIO-----*/
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  font-size: 0;
  width: 100%;
  padding: 0;
}

.page-head {
  padding: 2rem 1.5rem 1.5rem;
  width: 100%;
}

.page-heading.designlab {
  color: #1F2453;
}
.page-heading.nationbuilder {
  color: #1498BE;
}
.page-heading.web {
  color: #0F63DA;
}
.page-heading.tedx {
  color: #E43E3B;
}
.page-heading.teknikio {
  color: #3D53B8;
}
.page-heading.cyberknitics {
  color: #7B84FC;
}
.page-heading.lovelace {
  color: #A3B0AE;
}
.page-heading.woven {
  color: #1A1D1F;
}
.page-heading.wearables {
  color: #2CB7C0;
}

.tag-line, .breadcrumb {
  padding: 0 0.2rem 1rem;
}

.medium {
  width: 50%;
}

.small {
  width: 25%;
}

.text-block {
  margin: 0 auto;
  max-width: 46rem;
  padding: 1.5rem 1.5rem 1rem 1.5rem;
}
.text-block.bio {
  padding-top: 2.5rem;
}

.img-block {
  padding-bottom: 2.5rem;
  text-align: center;
  width: 100%;
}

.proj-link {
  margin: 0;
}

.proj-video {
  margin: 0 auto;
}

/*--MEDIA QUERIES--------------*/
@media screen and (max-width: 768px) {
  .grid-container {
    display: block;
  }

  .medium {
    width: 100%;
  }

  .small {
    width: 50%;
  }

  .portfolio-item {
    min-height: 320px;
  }
  .portfolio-item.bio {
    height: auto;
  }

  .portfolio-item-link {
    grid-template-rows: 120px auto;
  }

  .portfolio-item-icon {
    width: 120px;
  }

  .text-block {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .page-head {
    border-top: 1px solid #ABDBDD;
    width: 100%;
  }

  .portfolio-heading {
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
