@import 'styles/base/reset';
@import 'styles/base/variables';
@import 'styles/base/mixins';
@import 'styles/base/elements';
@import 'styles/base/typography';
@import 'styles/base/utilities';

@font-face {
  font-family: 'Quincy';
  src: url("fonts/QuincyCFExtraBold.woff");
}

@import 'styles/layout/layout';
@import 'styles/layout/header';

@import 'styles/modules/intro';
@import 'styles/modules/footer';
@import 'styles/modules/navigation';
@import 'styles/modules/pagination';

/*--CONTENT-------------*/
.portfolio-heading {
  color:$bodytext; font-size:2.5rem; margin:4rem 1.5rem 2rem; text-align:center;
}
.portfolio-item {
  align-items:center; display:grid; min-height:400px; justify-content:center;
  text-align:center;
	h3 {
    color:#fff; letter-spacing:.05rem; margin:1rem auto 0; text-decoration:none;
  }
	&.designlab { background-color:$designlab; }
	&.nationbuilder { background-color:$nationbuilder; }
	&.stitchgood { background-color:$stitchgood; }
	&.theknit { background-color:$theknit; }
	&.weatherwhiskers { background-color:$weatherwhiskers; }
	&.almostcooked { background-color:$almostcooked; }
	&.web { background-color:$web; }
	&.tedx { background-color:$tedx; }
	&.teknikio { background-color:$teknikio; }
	&.cyberknitics { background-color:$cyberknitics; }
	&.lovelace { background-color:$lovelace; }
	&.woven { background-color:$woven; }
	&.wearables { background-color:$wearables; }
  &.intro2 { background-color:$intro2; }
  &.bio { background-color:$bio; grid-column:1; grid-row:1; height:auto; }
}
.portfolio-item-link {
  align-items:center; border:none; display:grid; grid-template-rows:180px auto;
  justify-items:center;
}
.portfolio-item-icon {
  margin:0 auto; width:160px;
  transition: width .25s ease-in-out;
  -moz-transition: width .25s ease-in-out;
  -webkit-transition: width .25s ease-in-out;
  &:hover {
    width:180px;
  }
}

/*--END PORTFOLIO-----*/
.flex-wrap {
	display:flex; flex-wrap:wrap; font-size:0; width:100%; padding:0;
}
.page-head {
	padding:2rem 1.5rem 1.5rem; width:100%;
}
.page-heading {
	&.designlab { color:$designlab; }
	&.nationbuilder { color:$nationbuilder; }
	&.stitchgood { color:$stitchgood; }
	&.theknit { color:$theknit; }
	&.weatherwhiskers { color:$weatherwhiskers; }
	&.almostcooked { color:$almostcooked; }
	&.web { color:$web; }
	&.tedx { color:$tedx; }
	&.teknikio { color:$teknikio; }
	&.cyberknitics { color:$cyberknitics; }
	&.lovelace { color:$lovelace; }
	&.woven { color:$woven; }
	&.wearables { color:$wearables; }
}
.tag-line, .breadcrumb {
  padding:0 .2rem 1rem;
}
.medium {
  width:50%;
}
.small {
  width:25%;
}
.text-block {
  margin:0 auto; max-width:46rem; padding:1.5rem 1.5rem 1rem 1.5rem;
  &.bio { padding-top:2.5rem; }
}
.img-block {
  padding-bottom:2.5rem;
  text-align:center;
  width:100%;
}
.proj-link {
  margin:0;
}
.proj-video {
  margin:0 auto;
}

/*--MEDIA QUERIES--------------*/
@media screen and (max-width: 768px){
	.grid-container {
		display:block;
	}
	.medium {
		width:100%;
	}
	.small {
		width:50%;
	}
  .portfolio-item {
    min-height:320px;
    &.bio { height:auto; }
  }
  .portfolio-item-link {
    grid-template-rows:120px auto;
  }
  .portfolio-item-icon {
    width:120px;
  }
  .text-block {
    width:100%;
  }
}
@media screen and (max-width: 480px){
	.page-head {
		border-top:1px solid $borderColor; width:100%;
	}
  .portfolio-heading {
    font-size:1.5rem;
  }
}
