@use '../base/variables' as *;

.l-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 6rem 0 0;
}
.social {
  border:none; display:block; padding:0 0 .5rem;
  .social-icon { width:1.5rem; }
  .social-label {
    border-bottom:1px solid rgba(255,255,255,0); color:$color-text;
    display:inline-block; margin:.25rem 0 .25rem .25rem;
    vertical-align:bottom;
    &:hover {
       border-color:$color-link-hover; color:$color-link-hover;
    }
  }
}
.footer-email {
  border-left:1px solid $color-border; grid-column-start:2; padding:1.5rem 0 2rem 1.5rem;
}
.footer-attribution {
  font-size:1rem; padding:2rem 0 0;
}

@media screen and (max-width: 768px){
  .l-footer { grid-template-columns:1fr; }
  .footer-email {
    border-left:none; grid-column-start:1;
  }
  .social {
    margin:.5rem 0; padding:0 0 .5rem;
  }
}
