@use '../base/variables' as *;
@use '../base/mixins' as *;

.l-header {
  background-color: $color-background;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto auto;
  left: 0;
  margin: 0 auto;
  max-width: $width-content;
  padding: 1rem;
  position: sticky;
  right: 0;
  top: 0;
  z-index: 10;
}
.l-header__logo {
  align-items: center;
  border: none;
  color: $color-text;
  display: grid;
  font-family: $font2;
  font-size: 1.5rem;
  grid-column-gap: 1rem;
  grid-template-columns: 2.75rem auto;
  padding: 0 0.5rem;
  text-decoration: none;
}
.l-header__logo__img {

}