.l-container {
  margin: 0 auto;
  max-width: $width-content;
  padding: 1rem 2rem;
}
.l-main {
  margin: 0 auto;
  max-width: $width-content;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
