/* Breakpoints */
$break-xl: 1600px;
$break-lg: 1280px;
$break-md: 920px;
$break-sm: 720px;
$break-xs: 600px;

/* Colors */
$bodytext: #000000;
$linkColor: #0A6F74;
$linkColorHover: #144A4C;
$borderColor: #ABDBDD;
$borderColorRGBA: rgba(96, 163, 188, .75);

$designlab: #1F2453;
$nationbuilder: #1498BE;
$stitchgood: #455FE8;
$theknit: #CC33FF;
$weatherwhiskers: #2CB7C0;
$almostcooked: #E43E3B;
$web: #0F63DA;
$tedx: #E43E3B;
$teknikio: #3D53B8;
$cyberknitics: #7B84FC;
$lovelace: #A3B0AE;
$woven: #1A1D1F;
$wearables: #2CB7C0;
$bio: #2E9196;
$intro: #ABDBDD;
$intro2: #67B7BA;

/* Fonts */
$font1: 'Nanum Gothic', sans-serif;
$font2: 'Quincy', sans-serif;

/* Font Weights */
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
