.case-study {
  align-content: center;
  border: none;
  display: grid;
  grid-column-gap: 3rem;
  margin: 2rem 0;
  @include mq(sm_up) {
    grid-template-columns: 1fr 2fr;
    margin-bottom: 4rem;
  }
}
.case-study__image {
  @include border-radius(8px);
  align-content: center;
  background-color: $color-text;
  display: grid;
  grid-template-columns: 8rem;
  justify-content: center;
  padding: 2rem;
  text-align: center;
}
.case-study__tagline {
  border-bottom: 2px solid $color-link;
  display: inline-block;
  &:hover {
    border-color: $color-link-hover;
    color: $color-link-hover;
  }
}
.case-study__text {
  padding: 1rem 0 1rem;
  @include mq(sm_up) {
    padding: 0.5rem 0;
  }
}
.case-study__title {
  color: $color-text;
  font-family: $font2;
  font-size: 2.5rem;
  line-height: 1.2;
  margin: 1rem auto;
  @include mq(md_down) {
    font-size: 1.75rem;
  }
}
