/*--FOOTER----------------------*/
footer {
  display:grid; grid-template-columns:1fr 1fr;
}
.social {
  border:none; display:block; padding:0 0 .5rem;
  .social-icon { width:1.5rem; }
  .social-label {
    border-bottom:1px solid rgba(255,255,255,0); color:$bodytext;
    display:inline-block; font-family:$font2; margin:.25rem 0 .25rem .25rem;
    vertical-align:bottom;
    &:hover {
       border-color:$linkColorHover; color:$linkColorHover;
    }
  }
}
.footer-email {
  border-left:1px solid $borderColor; grid-column-start:2; padding:1.5rem 0 2rem 1.5rem;
}
.footer-attribution {
  font-size:1rem; padding:2rem 0 0;
}
.nobreak {
  white-space:nowrap;
}
.hide-sm-up {
  display:none;
}

@media screen and (max-width: 768px){
  footer { grid-template-columns:1fr; }
  .footer-email {
    border-left:none; grid-column-start:1;
  }
  .social {
    margin:.5rem 0; padding:0 0 .5rem;
  }
  .hide-sm-up {
    display:block;
  }
  .hide-sm-down {
    display:none;
  }
}
