.intro {
  background-color: $color-primary-lightest;
  margin: 0 0 4rem;
  padding: 4rem 2rem 2rem;
  @include mq(md_down) {
    margin-bottom: 2rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
  }
}
