@use '../base/variables' as *;
@use '../base/mixins' as *;

.tag {
  @include border-radius(8px);
  background-color: $color-primary-lightest;
  color: $color-text;
  display: inline-block;
  font-size: 1rem;
  padding: 0.5rem;
}
