@use '../base/variables' as *;
@use '../base/mixins' as *;

.tag {
  @include border-radius(8px);
  border: 2px solid $color-primary-dark;
  color: $color-primary-dark;
  display: inline-block;
  font-size: 1rem;
  font-weight: $font-weight-medium;
  padding: 0.5rem;
}
